SeguridadFrontEnd/Connected Services/ServiceReferenceBoleta/wsBoleta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MisVentas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MisVentasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MisVentasResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarBoleta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nroBoleta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codProducto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodVendedor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarBoletaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarBoletaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AgregarDetallesBoleta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nroBoleta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codProducto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarDetallesBoletaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarDetallesBoletaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="criterio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="MisVentasSoapIn">
    <wsdl:part name="parameters" element="tns:MisVentas" />
  </wsdl:message>
  <wsdl:message name="MisVentasSoapOut">
    <wsdl:part name="parameters" element="tns:MisVentasResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarBoletaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarBoleta" />
  </wsdl:message>
  <wsdl:message name="AgregarBoletaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarBoletaResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarDetallesBoletaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarDetallesBoleta" />
  </wsdl:message>
  <wsdl:message name="AgregarDetallesBoletaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarDetallesBoletaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarSoapIn">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="BuscarSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:portType name="wsBoletaSoap">
    <wsdl:operation name="Listar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar datos de la tabla Boleta</wsdl:documentation>
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MisVentas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">MisVentas de la tabla Boleta</wsdl:documentation>
      <wsdl:input message="tns:MisVentasSoapIn" />
      <wsdl:output message="tns:MisVentasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarBoleta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar Boleta de la tabla Boleta</wsdl:documentation>
      <wsdl:input message="tns:AgregarBoletaSoapIn" />
      <wsdl:output message="tns:AgregarBoletaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDetallesBoleta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar Detalles Boleta de la tabla Boleta</wsdl:documentation>
      <wsdl:input message="tns:AgregarDetallesBoletaSoapIn" />
      <wsdl:output message="tns:AgregarDetallesBoletaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar Boleta de la tabla Boleta</wsdl:documentation>
      <wsdl:input message="tns:BuscarSoapIn" />
      <wsdl:output message="tns:BuscarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsBoletaSoap" type="tns:wsBoletaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MisVentas">
      <soap:operation soapAction="http://tempuri.org/MisVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarBoleta">
      <soap:operation soapAction="http://tempuri.org/AgregarBoleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDetallesBoleta">
      <soap:operation soapAction="http://tempuri.org/AgregarDetallesBoleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsBoletaSoap12" type="tns:wsBoletaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MisVentas">
      <soap12:operation soapAction="http://tempuri.org/MisVentas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarBoleta">
      <soap12:operation soapAction="http://tempuri.org/AgregarBoleta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDetallesBoleta">
      <soap12:operation soapAction="http://tempuri.org/AgregarDetallesBoleta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap12:operation soapAction="http://tempuri.org/Buscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsBoleta">
    <wsdl:port name="wsBoletaSoap" binding="tns:wsBoletaSoap">
      <soap:address location="https://localhost:44340/wsBoleta.asmx" />
    </wsdl:port>
    <wsdl:port name="wsBoletaSoap12" binding="tns:wsBoletaSoap12">
      <soap12:address location="https://localhost:44340/wsBoleta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>